*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:'Poppins',sans-serif;
  background:#050505;
  color:#e5e5e5;
  scroll-behavior:smooth;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

canvas#bg{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    z-index: -1;
    display: block;
}

nav{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:20px 10%;
  background:rgba(0,0,0,0.8);
  backdrop-filter:blur(10px);
  z-index: 1000;
}

nav h2{
  font-family:'Orbitron',sans-serif;
  color:#00f0ff;
}

nav a{
  color:#aaa;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

nav a:hover{
  color:#00f0ff;
}

header{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
#typing {
    font-size: 3rem;
    color: #00f0ff;
    text-shadow: 0 0 15px #00f0ff;
}

.btn:hover{
    transform: scale(1.05s);
}

.btn{
  margin-top:25px;
  padding:12px 30px;
  background:#00f0ff;
  color:#000;
  border:none;
  border-radius:30px;
  cursor:pointer;
  box-shadow:0 0 20px #00f0ff;
}

section{
  padding:100px 10%;
}

h2{
  color:#00f0ff;
  margin-bottom:20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card{
  background:#0a0a0a;
  padding:25px;
  border-radius:15px;
  transition: transform 0.3s;
  box-shadow: 0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px #00f0ff33;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.progress{
  background:#111;
  border-radius:10px;
  margin-top:10px;
  overflow: hidden;
}

.progress div{
  height:10px;
  background:#00f0ff;
  width: 0;
  transition: width 1s ease;
}
.project-card img{
    width: 100;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer{
  text-align:center;
  padding:20px;
  background:#000;
  color:#555;
}